.recherche {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
}

.recherche h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

.recherche > p {
    font-size: 15px;
    margin-bottom: 20px;
}

.form {
    width: 418px;
    height: 51px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.form p {
    
    width: 50px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    
}

.recherche-area {
    width: 234px;
    height: 52px;
    padding: 0 35px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-size: 16px;
}

.recherche-bouton {
    width: 129px;
    height: 52px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 16px;
    position: absolute;
}

.recherche-bouton:hover {
    font-weight: 700;
    cursor: pointer;
}

.loupe {
    display: none;
}

.Filtre-bloc {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 35px;
}

.Filtre-bloc h2 {
    margin-right: 25px;

}


.filtre-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filtre-flex a {
    text-decoration: none;
    color: black;
}

.filtre-flex a:hover {
    color: #0065fc;
}

.filtres {
    position: relative;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    padding: 17px 24px 17px 62px;
    margin: 5px;
    margin-right: 25px;
}

.filtres p {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.filtres h3 {
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 462px;
    padding-left: 4px;
}

.info > p:nth-child(1) {
    width: 23px;
    height: 23px;
    border: 3px solid #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
    font-size: 12px;
    padding: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > p:nth-child(2) {
    font-size: 15px;
    
}

/*Média quéries tablette */

@media screen and (max-width: 992px) {

    .recherche h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .recherche > p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form, .form p, .recherche-area, .recherche-bouton {
        height: 40px;
        font-size: 14px;
    }

    .form p {
        width: 40px;        
    }

    .recherche-area {
        width: 360px;        
    }

    .recherche-bouton {
        width: 110px;        
    }

    .filtre-flex {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .filtres {        
        padding: 13px 20px 10px 57px;        
        margin-right: 20px;
    }

    .filtres p {
        width: 40px;
        height: 40px;
    }
    
}

@media screen and (max-width: 768px) {

    .recherche {
       justify-content: center;
       margin: 36px 5% 0;
    }

    .recherche h1 {
        width: 100%;
        font-size: 24px;
        text-align: left;
        margin-bottom: 20px;
    }

    .recherche > p {
        width: 100%;
        font-size: 16px;
        margin-bottom: 39px;
    }
    

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .form {
        width: inherit;
    }

    .form p {
        width: 50px;    
        font-size: 18px; 
    }

    .recherche-area {
        padding: 0 17px;
    }    

    .recherche-bouton {
        display: none;
    }

    .loupe {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: #0065fc;
        color: white;
        position: absolute;
        right: -20px;
        
    }

    .loupe i {
        display: flex;
        align-items: center;
        position: relative;        
    }

    .recherche-bouton2 {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: transparent;
        color: transparent;
        position: absolute;
        right: -20px;
        z-index: 1;
        border: none ;
        cursor: pointer;
    }

    .loupe:hover i{
        font-size: 16px;        
    }

    .recherche-area, .form p, .form {
        height: 50px;
    }

    .recherche-area {
        width: 100%;
        padding: 0 30px 0 20px;
        margin-right: 20px;
    }
    
    .Filtre-bloc {
        flex-direction: column;
        margin-top: 22px;
    }

    .Filtre-bloc h2 {
        margin-right: inherit;
        margin-bottom: 18px;
    }

    .filtres {
        margin-right: 15px;
    }

    .info {
        width: 100%;
        justify-content: start;
    }

    .info p:nth-child(1) {
        margin-right: 8px;
    }
}
