.hebergement {
    width: 90%;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.hebergement .hebergement_article:nth-child(1) {
    width: 67%;
}

.hebergement .hebergement_article:nth-child(2) {
    width: 30%;
}

.hebergement_article {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 3%;
}

.hebergement_article h2 {
    padding-left: 3px;
    font-weight: bold;
    font-size: 20px;
}

.h2-populaire {
    display: flex;
    justify-content: space-between;
}

.displaymore {
    margin-top: 25px;
    width: max-content;
}

.displaymore a:hover {
    color: #0065fc;
}

.more {
    font-weight: bold;
    font-size: 16px;
}

.grey {
    color: #f2f2f2;
}

/****** cartes 1 ******/
  /****** Images ******/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;  
}

.container a {
    text-decoration: none;
    color: black;
    width: 30%;
}

.container-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 199.5px;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    margin: 30px 5px 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.container-hebergement:hover {
    top: -5px;
}

.hebergement-img {
    width: 100%;
    height: 113.5px;
    border-radius: 20px 20px 0 0 ;
    position: relative;
    overflow: hidden;
}

.hebergement-img img {
    width: 175%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate( -50%, -50%);
}

/****** Images ******/


/****** Bloc texte ******/

.hebergement_bloc_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.hebergement_bloc_txt-populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.hebergement_bloc_txt h3, .hebergement_bloc_txt-populaire h3 {
    font-size: 14px;
    margin: 5px 0;
    padding-left: 5px;
    font-weight: bold;
}

.hebergement_bloc_txt p, .hebergement_bloc_txt-populaire p {
    font-size: 14px;
    margin: 5px 0;
    padding-left: 5px;
}

.etoiles {
    color: #0065fc;
    margin: 5px 0;
    padding-left: 5px;
    font-size: 14px;
}

/****** Bloc texte ******/


/****** Carte 2 ******/

.container-populaire {
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0 0 10px grey;
    position: relative;
    margin-bottom: 25px;
}

.container-populaire:hover {
    bottom: 5px;
}

.populaire-img {
    width: 40%;
    height: 144px;
    border-radius: 20px 0 0 20px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

.populaire-img img {
    width: 265%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.h2-populaire {
    margin-bottom: 25px;
}

/*Média quéries tablette */

@media screen and (max-width: 992px) {
    .hebergement {
        flex-direction: column-reverse;

    }

    .container-card-populaire {
        display: flex;
    }

    .container-card-populaire a {
        width: 30%;
        margin: auto;
    }

    .hebergement .hebergement_article:nth-child(2) {
        width: 100%;
    }

    .hebergement .hebergement_article:nth-child(1) {
        width: 100%;
        background-color: white;
        margin-top: 10px;
    }

    .hebergement_article h2 {
        font-size: 18px;
    }

    .hebergement_bloc_txt h3, .hebergement_bloc_txt p, 
    .hebergement_bloc_txt-populaire h3, .hebergement_bloc_txt-populaire p {
        font-size: 12px;        
    }

    .etoiles {
        font-size: 12px;
    }

    .hebergement-img img{
        width: 120%;
        top: 50%;
    }

    .populaire-img {
        margin-right: 5px;
    }
    .populaire-img img {
        width: 312%;
    }
}  

/*Média Quéries Mobile*/

@media screen and (max-width: 768px) {
    .hebergement {
        width: 100%;
        margin: inherit;
        margin-top: 15px;
    }

    .hebergement_article {
        border-radius: inherit;
    }

    .container-card-populaire {
        flex-direction: column;
    }

    .h2-populaire {
        margin: 20px;
        display: flex;
        justify-content: space-around;
    }

    .container-card-populaire a {
        width: 90%;
        max-width: 450px;
        margin: auto;
    }

    .hebergement_bloc_txt h3, .hebergement_bloc_txt p,
    .hebergement_bloc_txt-populaire h3, .hebergement_bloc_txt-populaire p {
        font-size: 14px;        
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container a {
        width: 90%;
        max-width: 450px;
        margin: auto;
    }

    .displaymore {
        margin: 25px;
        font-size: 14px;
    }

    .hebergement-img img {
        top: 50%;
        width: 100%;
    }

    .populaire-img img {
        width: 265%;
    }
}