#hebergement {
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

#hebergement .hebergement_article:nth-child(1) {
    width: 67%;
}

#hebergement .hebergement_article:nth-child(2) {
    width: 30%;
}

.hebergement_article {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 3%;
}

.hebergement_article h1 {
    padding-left: 3px;
    font-weight: bold;
    font-size: 20px;
}

.h1-populaire {
    display: flex;
    justify-content: space-between;
}

#more {
    margin-top: 25px;
    width: max-content;
}

#more:hover {
    border-bottom: 1px solid black;
}

.more {
    font-weight: bold;
    font-size: 18px;
}

/****** Nos cartes ******/
  /****** Images ******/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    
}

.container a {
    text-decoration: none;
    color: black;
}

.container-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 247px;
    height: 199.5px;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    margin: 30px 5px 0 0;
    box-shadow: 0px 0px 10px grey;
    position: relative;
}

.container-hebergement:hover {
    top: -5px;
}

.hebergement-img {
    width: 236px;
    height: 113.5px;
    border-radius: 25px 25px 0 0 ;
    position: relative;
    overflow: hidden;
}

.hebergement-img img {
    width: 175%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate( -50%, -50%);
}

/****** Images ******/


/****** Bloc texte ******/

.hebergement_bloc_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergement_bloc_txt h1 {
    font-size: 16px;
    margin: 5px 0;
    padding-left: 5px;
}

.hebergement_bloc_txt p {
    font-size: 14px;
    margin: 5px 0;
    padding-left: 5px;
}

.etoiles {
    color: #0065fc;
    margin: 5px 0;
    padding-left: 5px;
}

/****** Bloc texte ******/


