@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


section, header {
    width: 90%;
}

footer, main {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bleuclaire {
    color: #deebff;
}

.bleu {
    color: #0065fc;
}

.grisfond {
    color: #f2f2f2;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 800;
}